/* ----------------------
        Google Font
------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Manrope:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@700&display=swap');



/* ----------------------
        Common styles
------------------------- */
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 1024px;
  padding: 20px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}



/* ----------------------
    Header & Navigation
---------------------- */
header {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  padding: 0 20px;
}
nav h1 {
  font-size: 22px;
}



/* ------------------------
    Start Journey part
--------------------------- */
.start-journey {
  display: flex;
  align-items: center;
}
.Influncer-intro {
  /* padding-left: 20px; */
  width: 60%;
}
.Influncer-intro h1 {
  font-size: 50px;
  margin: 0px;
}
.Influncer-intro p {
  padding: 16px 0px 16px 0px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 600px;
}
.Influncer-intro a {
  font-size: 16px;
  padding: 10px 24px;
  background-color: #e02c6d;
  border-radius: 40px;
  color: white;
}
.iconArrow {
  padding-left: 8px;
}
.influncer-intro-image {
  width: 40%;
}
.influncer-intro-image img {
  width: 100%;
}



/* ---------------------------
        Popular Collection
------------------------------ */
.title {
  text-align: center;
  margin: 2em 0;
  color: #3a3a3a;
  font-size: 28px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
}
.product {
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.705);
  padding: 1em;
  border-radius: 5px;
}
.product:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.product img {
  width: 100%;
  height: 50%;
}
.product-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-bottom: 6px;
  margin-top: 16px;
}
.product-price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}
.rating {
  color: #fb8200;
  font-size: 11px;
  display: inline;
}
.rate {
  font-size: 14px;
  color: #5e6366;
  font-family: "Roboto", sans-serif;
  padding-left: 8px;
}
.product-discription {
  color: #787885;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 6px 0;
}
.see-more{
    color: #E02C6D;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 50px 0 0 0;
    font-size: 16px;
    font-weight: 700;
}



/* ------------------------
    Customers Feedback
--------------------------- */
.feedbacks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feedback{
    width: 30%;
    margin: 0.5em;
    padding: 5px;
    box-shadow: 1px 2px 3px 1px grey;
    border-radius: 5px;
}
.customer{
    display: flex;
    align-items: center;
    width: 100%;
}
.customer img{
    width: 30%;
}
.customer h3{
    color: #0A0826;
    padding-left: 20px;
    margin: 0;
}
.customer-feedback p{
    margin-bottom: 0px;
    color:#3a3a3a;
    font-weight: 600px;
}