/* ----------------------
        Google Font
------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Manrope:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@700&display=swap");

/* ----------------------
        Common styles
------------------------- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav,
section {
  width: 1024px;
  padding: 20px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

/* for display: flex; */
header,
nav,
.nav-links,
.start-journey,
.companies,
.see-more,
.feedbacks,
.customer,
.icons {
  display: flex;
}

/* for justify-content: center; */
header,
.companies,
.products,
.feedbacks,
.icons {
  justify-content: center;
}

/* For align-items: center; */
nav,
.start-journey,
.companies,
.products,
.product,
.see-more,
.customer {
  align-items: center;
}

/* For width:100% */
footer,
.influncer-intro-image,
.product img {
  width: 100%;
}

/* --------------------
    Other Styles
---------------------- */

/* ----------------------
    Header & Navigation
---------------------- */
nav {
  justify-content: space-between;
}
nav h1 {
  font-size: 25px;
}
.nav-links > li {
  margin-right: 1em;
}
.nav-links > li > a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

/* ------------------------
    Start Journey part
--------------------------- */
.Influncer-intro {
  width: 60%;
}
.Influncer-intro h1 {
  font-size: 50px;
  margin: 0px;
}
.Influncer-intro p {
  padding: 16px 0px 16px 0px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 600px;
}
.preebook-button-link a {
  font-size: 16px;
  padding: 10px 24px;
  background-color: #e02c6d;
  border-radius: 40px;
  color: white;
}
.preebook-button-link:hover {
  transform: translate(10px);
  transition: 1s ease-in-out;
}
.iconArrow {
  padding-left: 8px;
}
.preebook-button-link:hover .iconArrow {
  transform: translate(10px);
  transition: 1s linear;
}
.influncer-intro-image {
  margin: 0px;
  width: 40%;
}
.influncer-intro-image img {
  width: 90%;
}
.influncer-intro-image:hover img {
  transform: scale(1.1);
  transition: 2s;
}

/* ---------------------------
        Horizontal Line
----------------------------- */
.top-devider {
  margin-top: 50px;
}
hr {
  border-right: 400px solid #d9dbe100;
  border-left: 400px solid #d9dbe100;
}
.bottom-devider {
  margin-bottom: 50px;
}

/* ---------------------------
        Companies Logo
------------------------------ */
.company-logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 2em;
}

/* ---------------------------
        Popular Collection
------------------------------ */
.title {
  text-align: center;
  margin: 2em 0;
  color: #3a3a3a;
  font-size: 28px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  align-items: center;
}
.product {
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.705);
  padding: 1em;
  border-radius: 5px;
}
.product:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}
.product img {
  height: 50%;
}
.product-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-bottom: 6px;
  margin-top: 16px;
}
.product-price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}
.rating {
  color: #fb8200;
  font-size: 11px;
  display: inline;
}
.rate {
  font-size: 14px;
  color: #5e6366;
  font-family: "Roboto", sans-serif;
  padding-left: 8px;
}
.product-discription {
  color: #787885;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 6px 0;
}
.see-more {
  color: #e02c6d;
  align-items: center;
  justify-content: right;
  margin: 50px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}

/* ------------------------
    Customers Feedback
--------------------------- */
.feedbacks {
  flex-wrap: wrap;
}
.feedback {
  width: 30%;
  margin: 0.5em;
  padding: 5px;
  box-shadow: 1px 2px 3px 1px grey;
  border-radius: 5px;
}
.customer {
  align-items: center;
}
.customer img {
  width: 30%;
}
.customer h3 {
  color: #0a0826;
  padding-left: 20px;
  margin: 0;
}
.customer-feedback p {
  margin-bottom: 0px;
  font-weight: 600px;
}

/* ------------------------
        Footer
---------------------------*/
footer {
  background-color: #0a0826;
}
.footer-contents {
  margin: 50px 0;
  text-align: center;
  color: white;
}
.footer-contents h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}
.footer-contents p {
  color: #d9dbe1;
  font-size: 14px;
  margin: 3px 0;
}
.icons {
  margin-top: 20px;
  margin-bottom: 0px;
}
.icon {
  font-size: 17px;
  margin-right: 0.5em;
  border-radius: 20px;
  background: none;
  border: 7px solid rgba(128, 128, 128, 0.253);
  color: white;
}
.icon:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

/* ------------------------------------
        Media Query [Making Responsive]
--------------------------------------- */

/* -------- For Tab --------- */

@media only screen and (max-width: 1040px) {
  /* Common Styles */
  nav,
  section {
    width: 95%;
    padding: 0px;
  }

  /* For Start Journy & Feedbacks */
  nav,
  .Influncer-intro,
  .companies,
  .products,
  .feedbacks {
    padding: 1em;
  }

  /* For Start Journy */
  .Influncer-intro,
  .influncer-intro-image {
    width: 50%;
  }
  .influncer-intro-image img {
    width: 100%;
  }

  /* Deviders */
  hr {
    border-right: 200px solid #d9dbe100;
    border-left: 200px solid #d9dbe100;
  }

  /* Companies Logo */
  .company-logos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
  }

  /* For Products */
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
  }
  .see-more {
    padding-right: 1em;
  }
}

/* -------- For Mobile devices -------- */

@media only screen and (max-width: 705px) {
  /* Common Styles */
  nav,
  section {
    width: 100%;
    padding: 0px;
  }

  /* For Navigation */
  nav {
    justify-content: center;
  }
  nav > h1 {
    text-align: center;
  }
  .nav-links {
    display: none;
  }

  /* Start Journy */
  .start-journey {
    flex-wrap: wrap;
  }
  .companies,
  .Influncer-intro,
  .influncer-intro-image,
  .influncer-intro-image img,
  .feedback {
    width: 100%;
  }
  .Influncer-intro {
    text-align: center;
    order: 2;
  }
  .Influncer-intro h1 {
    font-size: 28px;
  }

  /* Deviders */
  hr {
    border-right: 100px solid #d9dbe100;
    border-left: 100px solid #d9dbe100;
  }

  /* Companies Logo */
  .company-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  /* popular Collection */
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
